{% extends 'apply/member_base.html' %} {% block content %}
<div class="form-group">
  <p class="question-text">
    <b>1. 자기소개를 해주세요(지원 동기, 성격 등). (500자 이내)</b>
  </p>
  <textarea
    class="form-control"
    name="answer_1"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
  >
{{ object.answer_1 }}</textarea
  >
</div>
<div class="form-group">
  <p class="question-text">
    <b
      >2. IT나 경영 분야 중 가장 관심있는 분야에 대해 서술해주시고, 그를 위해
      무슨 노력을 했는지 자세하게 서술해주세요. (500자 이내)</b
    >
  </p>
  <textarea
    class="form-control"
    name="answer_2"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
  >
{{ object.answer_2 }}</textarea
  >
</div>
<div class="form-group">
  <p class="question-text">
    <b
      >3. 본인이 큐시즘에서 얻어가고자 하는 것이 무엇인지 서술해주세요. (500자
      이내)</b
    >
  </p>
  <textarea
    class="form-control"
    name="answer_3"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
  >
{{ object.answer_3 }}</textarea
  >
</div>
<div class="form-group">
  <p class="question-text">
    <b>4. 다음 학기 계획에 대해 서술해주세요. (500자 이내)</b>
  </p>
  <textarea
    class="form-control"
    name="answer_4"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
  >
{{ object.answer_4 }}</textarea
  >
</div>
{% endblock %}
