{% extends 'apply/base.html' %} {% block content %}
<div class="form-group">
  <input type="hidden" name="apply_type" value="대외홍보팀" />

  <p class="question-text">
    <b
      >1. 대외홍보팀에 지원한 동기와 대외홍보팀에 본인이 적합한 이유를 말씀해
      주세요. (500자 내외)
    </b>
  </p>
  <textarea
    class="form-control"
    name="answer_1"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
    {% if scoring %}readonly{% endif %}
  >
{{ object.answer_1 }}</textarea
  >
</div>
<div class="form-group">
  <p class="question-text">
    <b>2. 본인의 성격 및 장·단점에 대해 말씀해주세요. (500자 내외) </b>
  </p>
  <textarea
    class="form-control"
    name="answer_2"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
    {% if scoring %}readonly{% endif %}
  >
{{ object.answer_2 }}</textarea
  >
</div>
<div class="form-group">
  <p class="question-text">
    <b
      >3. 다룰 수 있는 디자인 툴(ex. 프리미어, 일러스트 등)과 능숙도를
      말씀해주세요. 콘텐츠 기획 및 제작 경험이 있다면 어떤 콘텐츠를 제작했는지,
      어떤 분야에 자신이 있는지 간단하게 말씀해주세요. (분량 자유) *직접 제작한
      콘텐츠 url를 첨부해주세요. *콘텐츠 제작 경험이 없다면 앞으로 제작해보고
      싶은, 관심있는 컨텐츠에 관하여 말해주세요.
    </b>
  </p>
  <textarea
    class="form-control"
    name="answer_3"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
    {% if scoring %}readonly{% endif %}
  >
{{ object.answer_3 }}</textarea
  >
</div>
<div class="form-group">
  <p class="question-text">
    <b
      >4. 대외홍보팀은 다양한 SNS 채널을 관리하며 이를 통해 다양한 콘텐츠를
      제공하고 있습니다. 업로드 된 게시물 중 아쉬운 점이 있다면 무엇인지, 그리고
      어떻게 보완할 수 있을지 말씀해주세요. (500자 내외)
    </b>
  </p>
  <textarea
    class="form-control"
    name="answer_4"
    rows="10"
    placeholder="답변을 입력해주세요"
    required
    {% if scoring %}readonly{% endif %}
  >
{{ object.answer_4 }}</textarea
  >
</div>
{% endblock %}
